<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is the Home Page 1 * 2</h1>

    <!-- Dynamic html creation -->
    <h3><%=1 * 2%></h3>
    <h3><%= "Abhiansh Rajput".toUpperCase() %></h3>

    <h3><%= ["Apple", "Mango", "Orange"][2].toUpperCase() %></h3>

    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium sapiente corrupti, atque recusandae incidunt vero aliquam ducimus culpa error rerum pariatur perferendis consectetur deserunt, aliquid adipisci vitae libero possimus nostrum?</p>

    <button>click me</button>
</body>
</html>